@font-face {
    font-family: font;
    src: url('./font.ttf');
}

body {
    background-color: #0e212b;
    font-family: font;
    color: #1C5878;
    line-height: 250%;
    text-align: center;
}

.hoverColorChange {
    color: #1C5878;
    transition: color 0.25s ease-out;
}

.hoverColorChange:hover {
    color: #784A10;
}

#bash {
    
}

#cpp {
    
}

#csh {
    
}

#c {
    
}

#java {
    
}

#javascript {
    
}

#python {
    
}

#html {
    
}

#php {
    
}

#rust {
    
}

#ruby {
    
}

#fortran {
    
}

#powershell {
    
}

#lisp {
    
}

#deadfish {
    
    font-size: 81.25%;
}

#brainfuck {
    
    font-size: 181.25%;
}
